#header1 {
    align-items: center;
    justify-content: center;
    padding-right: 5%;
}
#header2 {
    align-items: center;
    justify-content: center;
    padding-left: 5%;
}

#content {
    display: flex;
    align-items: center;
    justify-content: center;
}